In [1]:
import yfinance as yf
import pandas as pd
from stock_config import momentum_stock_list

## Input the evaluation date below (1st friday of every month)

In [2]:
eval_date = "2020-09-01"

#### Function to check valid trading day. If open price is not returned then next date is checked until valid date is found

In [3]:
def get_valid_date(start_date, end_date):
    valid = False
    while not valid:
        valid_check_data = yf.download('RELIANCE.NS', start = start_date, end=end_date)
        try:
            open_price = valid_check_data.iloc[0]['Open']
            valid = True
        except:
            start_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
            end_date = (pd.to_datetime(end_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
            valid = False
    return start_date, end_date

#### Get valid start and end dates for this year

In [4]:
start_date=eval_date
end_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
start_date, end_date = get_valid_date(start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [5]:
start_date

'2020-09-01'

In [6]:
end_date

'2020-09-02'

### Fetch this year data

#### [Below data fetch will throw error if there is no trading day between start and end dates]

In [7]:
data = yf.download(momentum_stock_list, start = start_date, end=end_date)

[*********************100%***********************]  493 of 493 completed

In [8]:
this_year_close = pd.DataFrame(data.iloc[0]['Adj Close'])

In [9]:
this_year_close

                 2020-09-01
3MINDIA.NS     19959.000000
AARTIIND.NS     1047.050049
AAVAS.NS        1473.250000
ABB.NS           945.599976
ABBOTINDIA.NS  16402.800781
...                     ...
WIPRO.NS         271.600006
WOCKPHARMA.NS    297.500000
ZEEL.NS          201.800003
ZENSARTECH.NS    172.699997
ZYDUSWELL.NS    1650.250000

[493 rows x 1 columns]

#### Calculate dates for last year

In [10]:
start_date=(pd.to_datetime(eval_date) - pd.DateOffset(years=1)).strftime('%Y-%m-%d')
end_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')

#### Get valid start and end dates for last year

In [11]:
start_date, end_date = get_valid_date(start_date, end_date)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RELIANCE.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- RELIANCE.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

In [12]:
start_date

'2019-09-03'

In [13]:
end_date

'2019-09-04'

### Fetch last year data

#### [Below data fetch will throw error if there is no trading day between start and end dates]

In [14]:
data = yf.download(momentum_stock_list, start = start_date, end=end_date)

[*********************100%***********************]  493 of 493 completed

In [15]:
last_year_close = pd.DataFrame(data.iloc[0]['Adj Close'])

In [16]:
last_year_close

                 2019-09-03
3MINDIA.NS     20098.900391
AARTIIND.NS      789.747986
AAVAS.NS        1465.800049
ABB.NS          1308.222900
ABBOTINDIA.NS   9287.094727
...                     ...
WIPRO.NS         252.630081
WOCKPHARMA.NS    238.350006
ZEEL.NS          361.000000
ZENSARTECH.NS    212.748230
ZYDUSWELL.NS    1650.708496

[493 rows x 1 columns]

In [17]:
final_df = last_year_close.join(this_year_close)

In [18]:
final_df

                 2019-09-03    2020-09-01
3MINDIA.NS     20098.900391  19959.000000
AARTIIND.NS      789.747986   1047.050049
AAVAS.NS        1465.800049   1473.250000
ABB.NS          1308.222900    945.599976
ABBOTINDIA.NS   9287.094727  16402.800781
...                     ...           ...
WIPRO.NS         252.630081    271.600006
WOCKPHARMA.NS    238.350006    297.500000
ZEEL.NS          361.000000    201.800003
ZENSARTECH.NS    212.748230    172.699997
ZYDUSWELL.NS    1650.708496   1650.250000

[493 rows x 2 columns]

In [19]:
final_df.rename(columns =lambda t: t.strftime('%Y-%m-%d'), inplace=True)

## Calculate Momentum

In [20]:
last_year_date = final_df.columns[0]
this_year_date = final_df.columns[1]
final_df['Change'] = final_df[this_year_date] - final_df[last_year_date]

In [21]:
final_df['% Change'] = (final_df['Change'] / final_df[last_year_date])*100

## Final Output

In [22]:
final_df.sort_values(by=['% Change'], ascending=False, inplace=True)

In [23]:
final_df.rename_axis('MOMENTUM_ATH', inplace=True)
final_df.rename_axis('', axis='columns', inplace=True)

In [24]:
final_df.round(2).head(50)

               2019-09-03  2020-09-01   Change  % Change
MOMENTUM_ATH
ADANIGREEN.NS       44.45      494.65   450.20   1012.82
ALKYLAMINE.NS      746.28     3165.75  2419.47    324.21
GMMPFAUDLR.NS     1434.86     5404.45  3969.59    276.65
GRANULES.NS         89.56      324.05   234.49    261.83
LAURUSLABS.NS      325.45     1122.90   797.45    245.03
INDIAMART.NS      1195.27     3828.15  2632.88    220.28
AFFLE.NS           835.60     2652.25  1816.65    217.41
DIXON.NS          2645.11     8295.20  5650.09    213.61
NAVINFLUOR.NS      714.20     1957.00  1242.80    174.01
ESSELPACK.NS       108.03      284.80   176.77    163.64
DEEPAKNTR.NS       269.44      702.00   432.56    160.54
BSOFT.NS            65.34      168.45   103.11    157.81
DHANUKA.NS         296.73      764.45   467.72    157.62
JINDALSTEL.NS       92.80      218.00   125.20    134.91
ISEC.NS            207.56      483.40   275.84    132.90
ESCORTS.NS         490.50     1111.75   621.25    126.66
AMBER.NS           820.28     1790.75   970.47    118.31
CDSL.NS            188.48      408.90   220.42    116.95
VAIBHAVGBL.NS      782.12     1671.40   889.28    113.70
TATACOMM.NS        412.42      869.90   457.48    110.93
IPCALAB.NS         957.57     2014.90  1057.33    110.42
POLYMED.NS         191.70      400.90   209.20    109.12
SCI.NS              27.95       58.30    30.35    108.59
JBCHEPHARM.NS      370.60      762.10   391.50    105.64
TATACONSUM.NS      269.22      548.50   279.28    103.74
DIVISLAB.NS       1627.31     3231.10  1603.79     98.55
COROMANDEL.NS      373.97      740.20   366.23     97.93
INFIBEAM.NS         39.41       77.20    37.79     95.87
TIINDIA.NS         328.86      644.10   315.24     95.86
MUTHOOTFIN.NS      591.92     1159.10   567.18     95.82
ASTRAZEN.NS       1845.30     3589.45  1744.15     94.52
RALLIS.NS          153.10      297.55   144.45     94.35
EIDPARRY.NS        151.60      294.00   142.40     93.93
BHARATRAS.NS      4806.43     9312.90  4506.47     93.76
ITI.NS              68.35      132.00    63.65     93.12
APLAPOLLO.NS      1268.05     2399.30  1131.25     89.21
FDC.NS             160.02      302.40   142.38     88.97
BAYERCROP.NS      3041.19     5738.10  2696.91     88.68
APLLTD.NS          491.12      918.45   427.33     87.01
BALKRISIND.NS      717.29     1335.85   618.56     86.24
JUBLFOOD.NS       1168.14     2148.90   980.76     83.96
GUJGASLTD.NS       170.78      314.00   143.22     83.86
MCX.NS             847.28     1550.75   703.47     83.03
JUBILANT.NS        428.96      784.95   355.99     82.99
MIDHANI.NS         113.63      206.70    93.07     81.90
BIOCON.NS          225.40      405.35   179.95     79.84
TATAELXSI.NS       616.30     1097.30   481.00     78.05
PERSISTENT.NS      544.21      961.85   417.64     76.74
ABBOTINDIA.NS     9287.09    16402.80  7115.71     76.62
FINEORG.NS        1423.21     2513.45  1090.24     76.60

In [25]:
filename = f'data/output/momentum_yearly_output_{eval_date}.xlsx'

In [26]:
final_df.round(2).to_excel(filename)

In [27]:
f"Done. Output file path and name --> {filename}"

'Done. Output file path and name --> data/output/momentum_ath_output_2020-09-01.xlsx'