In [253]:
import pandas as pd
import numpy as np

df_nf5 = pd.read_csv("data/Nifty-Futures-Aug.csv", sep="\t", parse_dates=['Date Time'], encoding="utf_16_LE")

## Remove last empty column

In [254]:
df_nf5 = df_nf5[df_nf5.columns[:-1]]

## Calculate and Insert moving averages

In [255]:
df_nf5['MA6'] = df_nf5['Close'].rolling(6).mean()
df_nf5['MA21'] = df_nf5['Close'].rolling(21).mean()

## Set dates as index

In [256]:
df_nf5.set_index('Date Time', inplace=True)

## Apply Function to dataframe

In [261]:
def nifty_signal(df):
    
    df.loc[:, 'Open'] = 'fffff'
    return df

In [262]:
today_df = df_nf5.loc['2020-08-20']

In [263]:
new_df = nifty_signal(today_df)

d:\devprojects\venv\testvenv\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [264]:
new_df

,Open,Low,High,Close,Volume,MA6,MA21
Date Time,,,,,,,
2020-08-20 09:15:01,fffff,11292.00,11320.00,11312.00,1027578,11401.750000,11431.142857
2020-08-20 09:20:00,fffff,11292.10,11310.05,11304.05,516675,11383.208333,11424.738095
2020-08-20 09:25:00,fffff,11302.85,11318.45,11308.85,285525,11365.658333,11417.873810
2020-08-20 09:30:00,fffff,11304.65,11316.40,11315.15,215700,11349.008333,11411.266667
2020-08-20 09:35:00,fffff,11313.05,11329.80,11325.75,249075,11332.300000,11405.335714
...,...,...,...,...,...,...,...
2020-08-20 15:05:00,fffff,11306.20,11315.00,11310.95,113850,11314.383333,11306.897619
2020-08-20 15:10:00,fffff,11306.60,11314.20,11308.00,161175,11313.300000,11305.676190
2020-08-20 15:15:00,fffff,11299.15,11308.00,11304.35,294600,11311.683333,11304.407143
2020-08-20 15:20:00,fffff,11300.30,11306.55,11305.75,212925,11310.175000,11303.395238
2020-08-20 15:25:00,fffff,11290.50,11306.05,11293.50,311025,11306.150000,11302.783333