In [29]:
import yfinance as yf
import pandas as pd
from stock_config import momentum_stock_list

## Input the evaluation date below (1st friday of every month)

In [30]:
eval_date = "2020-09-12"

#### Function to check valid trading day. If open price is not returned then next date is checked until valid date is found

In [31]:
def get_valid_date(start_date, end_date):
    valid = False
    while not valid:
        valid_check_data = yf.download('RELIANCE.NS', start = start_date, end=end_date)
        try:
            open_price = valid_check_data.iloc[0]['Open']
            valid = True
        except:
            start_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
            end_date = (pd.to_datetime(end_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
            valid = False
    return start_date, end_date

#### Get valid start and end dates for this year

In [32]:
start_date=eval_date
end_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
start_date, end_date = get_valid_date(start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [33]:
start_date

'2020-09-12'

In [34]:
end_date

'2020-09-13'

### Fetch this year data

#### [Below data fetch will throw error if there is no trading day between start and end dates]

In [35]:
data = yf.download(momentum_stock_list, start = start_date, end=end_date)

[*********************100%***********************]  493 of 493 completed

In [36]:
this_year_close = pd.DataFrame(data.iloc[0]['Adj Close'])

In [37]:
this_year_close

                 2020-09-11
3MINDIA.NS     18569.000000
AARTIIND.NS     1022.299988
AAVAS.NS        1322.449951
ABB.NS           898.400024
ABBOTINDIA.NS  16819.250000
...                     ...
WIPRO.NS         293.299988
WOCKPHARMA.NS    291.149994
ZEEL.NS          218.100006
ZENSARTECH.NS    173.399994
ZYDUSWELL.NS    1642.599976

[493 rows x 1 columns]

#### Calculate dates for last year

In [38]:
start_date=(pd.to_datetime(eval_date) - pd.DateOffset(years=1)).strftime('%Y-%m-%d')
end_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')

#### Get valid start and end dates for last year

In [39]:
start_date, end_date = get_valid_date(start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [40]:
start_date

'2019-09-12'

In [41]:
end_date

'2019-09-13'

### Fetch last year data

#### [Below data fetch will throw error if there is no trading day between start and end dates]

In [42]:
data = yf.download(momentum_stock_list, start = start_date, end=end_date)

[*********************100%***********************]  493 of 493 completed

8 Failed downloads:
- CDSL.NS: No data found for this date range, symbol may be delisted
- RELIANCE.NS: No data found, symbol may be delisted
- TORNTPOWER.NS: No data found, symbol may be delisted
- AEGISCHEM.NS: No data found, symbol may be delisted
- MAHABANK.NS: No data found, symbol may be delisted
- ICICIGI.NS: No data found, symbol may be delisted
- JUBILANT.NS: No data found, symbol may be delisted
- BANKBARODA.NS: No data found for this date range, symbol may be delisted

In [43]:
last_year_close = pd.DataFrame(data.iloc[0]['Adj Close'])

In [44]:
last_year_close

                 2019-09-12
3MINDIA.NS     20142.099609
AARTIIND.NS      789.889709
AAVAS.NS        1541.599976
ABB.NS          1312.551758
ABBOTINDIA.NS   9597.436523
...                     ...
WIPRO.NS         243.566681
WOCKPHARMA.NS    324.299988
ZEEL.NS          345.930939
ZENSARTECH.NS    214.066025
ZYDUSWELL.NS    1784.295288

[493 rows x 1 columns]

In [45]:
final_df = last_year_close.join(this_year_close)

In [46]:
final_df

                 2019-09-12    2020-09-11
3MINDIA.NS     20142.099609  18569.000000
AARTIIND.NS      789.889709   1022.299988
AAVAS.NS        1541.599976   1322.449951
ABB.NS          1312.551758    898.400024
ABBOTINDIA.NS   9597.436523  16819.250000
...                     ...           ...
WIPRO.NS         243.566681    293.299988
WOCKPHARMA.NS    324.299988    291.149994
ZEEL.NS          345.930939    218.100006
ZENSARTECH.NS    214.066025    173.399994
ZYDUSWELL.NS    1784.295288   1642.599976

[493 rows x 2 columns]

In [47]:
final_df.rename(columns =lambda t: t.strftime('%Y-%m-%d'), inplace=True)

## Calculate Momentum

In [48]:
last_year_date = final_df.columns[0]
this_year_date = final_df.columns[1]
final_df['Change'] = final_df[this_year_date] - final_df[last_year_date]

In [49]:
final_df['% Change'] = (final_df['Change'] / final_df[last_year_date])*100

## Final Output

In [50]:
final_df.sort_values(by=['% Change'], ascending=False, inplace=True)

In [51]:
final_df.rename_axis('MOMENTUM_ATH', inplace=True)
final_df.rename_axis('', axis='columns', inplace=True)

In [52]:
final_df.round(2).head(50)

               2019-09-12  2020-09-11   Change  % Change
MOMENTUM_ATH
ADANIGREEN.NS       48.90      608.65   559.75   1144.68
ALKYLAMINE.NS      781.90     3184.90  2403.00    307.33
GMMPFAUDLR.NS     1462.51     5599.45  4136.94    282.87
LAURUSLABS.NS      341.22     1257.75   916.53    268.60
DIXON.NS          2524.36     9240.00  6715.64    266.03
AFFLE.NS           857.75     2907.95  2050.20    239.02
GRANULES.NS        103.37      344.30   240.93    233.06
INDIAMART.NS      1611.50     4768.00  3156.50    195.87
DEEPAKNTR.NS       270.43      733.15   462.72    171.11
ESSELPACK.NS       105.53      281.45   175.92    166.71
NAVINFLUOR.NS      738.59     1957.45  1218.86    165.02
BSOFT.NS            70.89      166.20    95.31    134.45
ESCORTS.NS         521.98     1198.60   676.62    129.63
DHANUKA.NS         320.62      735.55   414.93    129.41
POLYMED.NS         216.86      476.75   259.89    119.84
VAIBHAVGBL.NS      813.24     1760.40   947.16    116.47
JBCHEPHARM.NS      373.40      799.65   426.25    114.15
IPCALAB.NS         941.08     2013.40  1072.32    113.95
AMBER.NS           838.33     1770.05   931.72    111.14
TATACONSUM.NS      260.38      548.40   288.02    110.61
ISEC.NS            226.91      473.55   246.64    108.70
TATAELXSI.NS       634.03     1289.95   655.92    103.45
TATACOMM.NS        425.81      863.10   437.29    102.70
IDEA.NS              5.55       11.15     5.60    100.90
INFIBEAM.NS         39.96       80.05    40.09    100.31
ASTRAZEN.NS       2044.58     4025.95  1981.37     96.91
FDC.NS             166.94      326.75   159.81     95.72
DIVISLAB.NS       1632.97     3146.65  1513.68     92.70
MUTHOOTFIN.NS      588.55     1128.50   539.95     91.74
COROMANDEL.NS      391.64      748.20   356.56     91.04
BAYERCROP.NS      3094.77     5902.95  2808.18     90.74
JUBLFOOD.NS       1220.89     2327.30  1106.41     90.62
APLAPOLLO.NS      1271.51     2421.30  1149.79     90.43
JINDALSTEL.NS      107.25      201.85    94.60     88.21
SEQUENT.NS          77.45      145.60    68.15     87.99
BIOCON.NS          232.20      433.10   200.90     86.52
FINEORG.NS        1530.91     2848.30  1317.39     86.05
TIINDIA.NS         329.75      602.70   272.95     82.77
NAUKRI.NS         1858.19     3384.85  1526.66     82.16
PERSISTENT.NS      559.10     1011.05   451.95     80.84
RALLIS.NS          164.49      295.70   131.21     79.77
APLLTD.NS          508.13      911.25   403.12     79.33
MINDTREE.NS        660.49     1183.80   523.31     79.23
BHARATRAS.NS      5171.18     9250.85  4079.67     78.89
EIDPARRY.NS        163.80      292.10   128.30     78.33
GARFIBRES.NS      1079.36     1924.55   845.19     78.30
BALKRISIND.NS      737.19     1302.30   565.11     76.66
ABBOTINDIA.NS     9597.44    16819.25  7221.81     75.25
ITI.NS              78.45      137.00    58.55     74.63
STAR.NS            394.55      684.65   290.10     73.53

In [53]:
filename = f'data/output/momentum_yearly_output_{eval_date}.xlsx'

In [54]:
final_df.round(2).to_excel(filename)

In [55]:
f"Done. Output file path and name --> {filename}"

'Done. Output file path and name --> data/output/momentum_yearly_output_2020-09-12.xlsx'