# Weekly Momentun Scanner Executed Weekly

In [196]:
import yfinance as yf
import pandas as pd
from openpyxl import load_workbook
from stock_config import nifty50_stock_list, nifty500_stock_list, momentum_stock_list, nse_fno_stock_list, sample_stock_list

## Input the evaluation date below (Every Friday date), stock universe and output filename

In [197]:
eval_date = "2020-11-27"

In [198]:
stock_list = nifty500_stock_list

In [199]:
print(f"Total stocks in the list {len(stock_list)}")

Total stocks in the list 493

In [200]:
filename = r'data/output/momentum_weekly_n500_output.xlsx'

#### Function to check valid trading day. If open price is not returned then PREVIOUS date is checked until valid date is found.
##### End date is valid date + 1. Used to get LTP for desired date using yfinance.

In [201]:
def get_valid_date(start_date, end_date):
    valid = False
    while not valid:
        valid_check_data = yf.download('RELIANCE.NS', start = start_date, end=end_date)
        try:
            open_price = valid_check_data.iloc[0]['Open']
            valid = True
        except:
            start_date = (pd.to_datetime(start_date) - pd.DateOffset(days=1)).strftime('%Y-%m-%d')
            end_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
            valid = False
    return start_date, end_date

#### Get valid start and end dates for this week

In [202]:
start_date=eval_date
end_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
start_date, end_date = get_valid_date(start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [203]:
start_date

'2020-11-27'

In [204]:
end_date

'2020-11-28'

### Fetch this week data

#### [Below data fetch will throw error if there is no trading day or if the scrip doesnt have ltp (not listed) between start and end dates]

In [205]:
data = yf.download(stock_list, start = start_date, end=end_date)

[*********************100%***********************]  493 of 493 completed

1 Failed download:
- HEXAWARE.NS: No data found for this date range, symbol may be delisted

In [206]:
this_week_close = pd.DataFrame(data.iloc[0]['Adj Close'])

In [207]:
#this_week_close

#### Calculate dates for last week

In [208]:
start_date=(pd.to_datetime(eval_date) - pd.DateOffset(days=7)).strftime('%Y-%m-%d')
end_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')

#### Get valid start and end dates for last week

In [209]:
start_date, end_date = get_valid_date(start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [210]:
start_date

'2020-11-20'

In [211]:
end_date

'2020-11-21'

### Fetch last week data

#### [Below data fetch will throw error if there is no trading day between start and end dates]

In [212]:
data = yf.download(stock_list, start = start_date, end=end_date)

[*********************100%***********************]  493 of 493 completed

1 Failed download:
- HEXAWARE.NS: No data found for this date range, symbol may be delisted

In [213]:
last_week_close = pd.DataFrame(data.iloc[0]['Adj Close'])

In [214]:
#last_week_close

In [215]:
final_df = last_week_close.join(this_week_close)

In [216]:
final_df

                 2020-11-20    2020-11-27
3MINDIA.NS     21784.800781  21866.900391
AARTIIND.NS     1122.800049   1155.300049
AAVAS.NS        1493.300049   1607.699951
ABB.NS          1116.050049   1073.750000
ABBOTINDIA.NS  15344.500000  15399.000000
...                     ...           ...
WIPRO.NS         346.299988    350.500000
WOCKPHARMA.NS    393.299988    452.850006
ZEEL.NS          185.500000    192.750000
ZENSARTECH.NS    208.750000    227.699997
ZYDUSWELL.NS    1824.949951   1864.150024

[493 rows x 2 columns]

#### Calculate dates for Next Week (For Forward Testing)

In [217]:
start_date=(pd.to_datetime(eval_date) + pd.DateOffset(days=7)).strftime('%Y-%m-%d')
end_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')

#### Get valid start and end dates for next week

In [218]:
start_date, end_date = get_valid_date(start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [219]:
start_date

'2020-12-04'

In [220]:
end_date

'2020-12-05'

### Fetch next week data

#### [Below data fetch will throw error if there is no trading day between start and end dates]

In [221]:
data = yf.download(stock_list, start = start_date, end=end_date)

[*********************100%***********************]  493 of 493 completed

1 Failed download:
- HEXAWARE.NS: No data found for this date range, symbol may be delisted

In [222]:
next_week_close = pd.DataFrame(data.iloc[0]['Adj Close'])

In [223]:
next_week_close

                 2020-12-04
3MINDIA.NS     22422.900391
AARTIIND.NS     1205.949951
AAVAS.NS        1659.699951
ABB.NS          1154.449951
ABBOTINDIA.NS  15247.000000
...                     ...
WIPRO.NS         360.799988
WOCKPHARMA.NS    442.100006
ZEEL.NS          206.850006
ZENSARTECH.NS    218.850006
ZYDUSWELL.NS    1827.250000

[493 rows x 1 columns]

In [224]:
final_df = final_df.join(next_week_close)

In [225]:
final_df

                 2020-11-20    2020-11-27    2020-12-04
3MINDIA.NS     21784.800781  21866.900391  22422.900391
AARTIIND.NS     1122.800049   1155.300049   1205.949951
AAVAS.NS        1493.300049   1607.699951   1659.699951
ABB.NS          1116.050049   1073.750000   1154.449951
ABBOTINDIA.NS  15344.500000  15399.000000  15247.000000
...                     ...           ...           ...
WIPRO.NS         346.299988    350.500000    360.799988
WOCKPHARMA.NS    393.299988    452.850006    442.100006
ZEEL.NS          185.500000    192.750000    206.850006
ZENSARTECH.NS    208.750000    227.699997    218.850006
ZYDUSWELL.NS    1824.949951   1864.150024   1827.250000

[493 rows x 3 columns]

In [226]:
final_df.rename(columns =lambda t: t.strftime('%Y-%m-%d'), inplace=True)

## Calculate Momentum

In [227]:
last_week_date = final_df.columns[0]
this_week_date = final_df.columns[1]
next_week_date = final_df.columns[2]
final_df['Change(C-B)'] = final_df[this_week_date] - final_df[last_week_date]
final_df['% Change'] = (final_df['Change(C-B)'] / final_df[last_week_date])*100
final_df['Gain(D-B)'] = final_df[next_week_date] - final_df[this_week_date]
final_df['% Gain'] = (final_df['Gain(D-B)'] / final_df[this_week_date])*100

In [228]:
final_df

,2020-11-20,2020-11-27,2020-12-04,Change(C-B),% Change,Gain(D-B),% Gain
3MINDIA.NS,21784.800781,21866.900391,22422.900391,82.099609,0.376866,556.000000,2.542656
AARTIIND.NS,1122.800049,1155.300049,1205.949951,32.500000,2.894549,50.649902,4.384134
AAVAS.NS,1493.300049,1607.699951,1659.699951,114.399902,7.660878,52.000000,3.234434
ABB.NS,1116.050049,1073.750000,1154.449951,-42.300049,-3.790157,80.699951,7.515711
ABBOTINDIA.NS,15344.500000,15399.000000,15247.000000,54.500000,0.355176,-152.000000,-0.987077
...,...,...,...,...,...,...,...
WIPRO.NS,346.299988,350.500000,360.799988,4.200012,1.212825,10.299988,2.938656
WOCKPHARMA.NS,393.299988,452.850006,442.100006,59.550018,15.141119,-10.750000,-2.373854
ZEEL.NS,185.500000,192.750000,206.850006,7.250000,3.908356,14.100006,7.315178
ZENSARTECH.NS,208.750000,227.699997,218.850006,18.949997,9.077843,-8.849991,-3.886689
ZYDUSWELL.NS,1824.949951,1864.150024,1827.250000,39.200073,2.148008,-36.900024,-1.979456

## Final Output

In [229]:
final_df.sort_values(by=['% Change'], ascending=False, inplace=True)

In [230]:
final_df.rename_axis('MOMENTUM_ATH', inplace=True)
final_df.rename_axis('', axis='columns', inplace=True)

In [231]:
final_df.round(2).head(50)

,2020-11-20,2020-11-27,2020-12-04,Change(C-B),% Change,Gain(D-B),% Gain
MOMENTUM_ATH,,,,,,,
EQUITAS.NS,52.85,70.30,66.65,17.45,33.02,-3.65,-5.19
IBVENTURES.NS,212.90,281.75,288.30,68.85,32.34,6.55,2.32
VAKRANGEE.NS,30.00,38.40,41.50,8.40,28.00,3.10,8.07
IDFC.NS,33.50,41.80,39.85,8.30,24.78,-1.95,-4.67
L&TFH.NS,71.35,86.85,88.30,15.50,21.72,1.45,1.67
SIS.NS,375.70,446.65,452.45,70.95,18.88,5.80,1.30
SAIL.NS,41.10,48.45,54.90,7.35,17.88,6.45,13.31
ALKYLAMINE.NS,3424.45,4015.00,3965.60,590.55,17.25,-49.40,-1.23
SUNTECK.NS,270.05,314.95,328.35,44.90,16.63,13.40,4.25
J&KBANK.NS,20.50,23.90,23.60,3.40,16.59,-0.30,-1.26
CARERATING.NS,432.75,501.80,557.50,69.05,15.96,55.70,11.10
DCBBANK.NS,93.40,107.65,116.35,14.25,15.26,8.70,8.08
AEGISCHEM.NS,222.15,255.85,252.40,33.70,15.17,-3.45,-1.35
WOCKPHARMA.NS,393.30,452.85,442.10,59.55,15.14,-10.75,-2.37
CUMMINSIND.NS,510.40,586.00,567.40,75.60,14.81,-18.60,-3.17
DIXON.NS,10354.00,11879.80,11382.20,1525.80,14.74,-497.60,-4.19
FRETAIL.NS,72.05,82.65,76.90,10.60,14.71,-5.75,-6.96
CHOLAFIN.NS,338.95,388.70,369.75,49.75,14.68,-18.95,-4.88
SRTRANSFIN.NS,933.90,1070.20,1003.10,136.30,14.59,-67.10,-6.27
MGL.NS,931.45,1063.90,1037.55,132.45,14.22,-26.35,-2.48
EDELWEISS.NS,61.35,70.00,81.90,8.65,14.10,11.90,17.00
UJJIVAN.NS,248.00,282.95,277.30,34.95,14.09,-5.65,-2.00
IOB.NS,9.60,10.95,11.00,1.35,14.06,0.05,0.46
WESTLIFE.NS,382.50,435.55,429.50,53.05,13.87,-6.05,-1.39
KEI.NS,373.45,424.90,430.15,51.45,13.78,5.25,1.24
PGHL.NS,6038.10,6868.10,6824.75,830.00,13.75,-43.35,-0.63
SFL.NS,1348.35,1531.85,1652.10,183.50,13.61,120.25,7.85
GREAVESCOT.NS,73.90,83.90,83.65,10.00,13.53,-0.25,-0.30
RVNL.NS,18.36,20.84,22.94,2.48,13.51,2.10,10.07
NBVENTURES.NS,47.50,53.90,57.85,6.40,13.47,3.95,7.33
KOLTEPATIL.NS,186.80,211.75,212.20,24.95,13.36,0.45,0.21
VBL.NS,769.80,871.40,835.40,101.60,13.20,-36.00,-4.13
BHEL.NS,29.20,32.85,34.25,3.65,12.50,1.40,4.26
PNB.NS,29.80,33.45,35.65,3.65,12.25,2.20,6.58
HINDCOPPER.NS,36.95,41.45,44.55,4.50,12.18,3.10,7.48
DALBHARAT.NS,982.80,1101.70,1123.55,118.90,12.10,21.85,1.98
GICRE.NS,125.75,140.95,139.45,15.20,12.09,-1.50,-1.06
EIDPARRY.NS,309.45,346.80,337.55,37.35,12.07,-9.25,-2.67
LAURUSLABS.NS,282.85,316.85,331.65,34.00,12.02,14.80,4.67
IGL.NS,443.20,496.40,478.45,53.20,12.00,-17.95,-3.62
CHOLAHLDNG.NS,484.35,541.20,532.20,56.85,11.74,-9.00,-1.66
TATAPOWER.NS,58.10,64.90,71.65,6.80,11.70,6.75,10.40
VMART.NS,2018.10,2252.30,2177.70,234.20,11.60,-74.60,-3.31
CANBK.NS,93.30,103.80,111.20,10.50,11.25,7.40,7.13
MANAPPURAM.NS,161.70,179.85,173.85,18.15,11.22,-6.00,-3.34
EMAMILTD.NS,396.20,440.35,418.10,44.15,11.14,-22.25,-5.05
SOUTHBANK.NS,6.80,7.55,8.95,0.75,11.03,1.40,18.54
AMBER.NS,2165.25,2399.60,2326.80,234.35,10.82,-72.80,-3.03
MINDACORP.NS,73.60,81.45,84.45,7.85,10.67,3.00,3.68
BAJAJCON.NS,184.55,204.20,199.55,19.65,10.65,-4.65,-2.28

### Create an empty excel file as below filename before running below code

In [232]:
book = load_workbook(filename)
writer = pd.ExcelWriter(filename, engine = 'openpyxl')
writer.book = book

In [233]:
final_df.round(2).to_excel(writer, sheet_name=eval_date)
writer.save()
writer.close()

In [234]:
f"Done. Output file path and name --> {filename}"

'Done. Output file path and name --> data/output/momentum_weekly_n500_output.xlsx'